
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <!-- https://cdnjs.com/libraries/twitter-bootstrap/5.0.0-beta1 -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/css/bootstrap.min.css"
    />

    <!-- Icons: https://getbootstrap.com/docs/5.0/extend/icons/ -->
    <!-- https://cdnjs.com/libraries/font-awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    />

    <title>Hello, world!</title>
    <style>
      .btn{
        background-color:gray;
        color:white;
        text-decoration: none;
      }
    </style>
  </head>
  <body class="d-flex vw-100 vh-10 align-items-center justify-content-center">
   <div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="mb-3">All Messages</h1>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Message</th>
                        <th scope="col">Actions</th>
                        
                    </tr>
                </thead>
                <tbody>
                  <!-- create table row with columns name email message  -->
                  {% for message in d %}
                  <tr>
                      <td>{{message[0]}}</td>
                      <td>{{message[1]}}</td>
                      <td>{{message[2]}}</td>
                      <td>{{message[3]}}</td>
                      <td>
                        <a href="/delete/{{message[0]}}">Delete</a>
                        <a href="/update/{{message[0]}}">Update</a></td>
                      </td>
                  </tr>
                  {% endfor %}
              </tbody>
              </table>
              <a href="/contact" class="btn">Back</a>
              <a href="/logout" class="btn">Log out</a>
        </div>
    </div>
   </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/js/bootstrap.bundle.min.js"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->

    <!-- https://cdnjs.com/libraries/popper.js/2.5.4 -->
    <!-- <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.5.4/umd/popper.min.js"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/js/bootstrap.min.js"
    ></script> -->

    <!-- More: https://getbootstrap.com/docs/5.0/getting-started/introduction/ -->
  </body>
</html>