<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update</title>
</head>
<body>
    <h1>Update Row</h1>
    <form action="/update/{{x}}" method="POST">
        <input type="text" name="username" id="" placeholder="Add New Name"  value=""><br><br>
        <input type="email" name="usermail" id="" placeholder="Add New Email" value=""><br><br>
        <textarea name="usermessage" id="" cols="30" rows="10" placeholder="Add New Message" ></textarea><br><br>
        <input type="submit" value="Update">
    </form>
    
</body>
</html>